:root {
    --containerPadding: 16px;
    --transitionTime: 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(var(--primary));
    color: rgb(var(--neutral));
}


.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 var(--containerPadding);
}

::-webkit-scrollbar-track {
    background-color: transparent;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    visibility: hidden;
}