:root {
    --primary: 	43, 48, 58; // #2B303A
    --neutral: 240, 246, 249; // #F0F6F9;
    --accent: 255, 177, 64; // #FFB140;
    --secondary: 67, 85, 96; // #435560;
    --highlight: 69, 131, 203; // #4583CB;
}