<ng-container *ngIf="{ state: (isLoading$ | async) === false } as isLoading">
  <ng-container *ngIf="details$ | async as details; else preloader">
    <ng-container *ngIf="isLoading.state; else preloader">
      <div class="cast-page">
        <div class="container">
          <h1 class="h1 cast-page--title">{{ details.title }}</h1>
        </div>
        <div class="cast-page--body">
          <ng-container
            *ngIf="
              details.credits.cast
                | concat : details.credits.crew
                | groupArrayBy : 'department' as groupedRoles
            ">
            <section
              class="cast-page-section"
              *ngFor="let group of groupedRoles">
              <div class="container">
                <h2 class="cast-page-section--title h2">{{ group.key }}</h2>
              </div>
              <mdb-ui-cards-grid
                *ngIf="group.value as creditsGroupList"
                class="search-result-section--grid"
                [dataList]="creditsGroupList | toGridItems">
              </mdb-ui-cards-grid>
            </section>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #preloader><mdb-preloader></mdb-preloader></ng-template>
