.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10;
    background: rgb(var(--secondary));
    padding: 14px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: var(--headerHeight);

    &--search {
        display: block;
        margin-left: auto;
        max-width: 300px;
    }
}