@import "src/app/styles/mixins.scss";

.movies-page-filters {
    &--body {
        width: 300px;
        top: var(--headerHeight);
        right: 0;
        bottom: 0;
        position: fixed;
        transform: translateX(100%);
        overflow-y: auto;
        overflow-x: hidden;
        background: rgb(var(--secondary));
        padding: 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: transform .3s ease;
        z-index: 9;

        &_active {
            transform: translateX(0);
        }
    }

    &--close {
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-left: -8px;
        margin-bottom: 10px;

        @include bp('1280') {
            &:hover {
                color: rgb(var(--accent));
            }
        }
    }

    &--btn {
        font-size: 20px;
        width: 36px;
        height: 36px;
        background: rgb(var(--secondary));
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp('1280') {
            &:hover {
                color: rgb(var(--accent));
            }
        }
    }

}

.movies-page-filters-section {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &--title {
        @include font-style(14px, 120%, 900);

        text-transform: uppercase;
        color: rgb(var(--accent));
        margin-bottom: 6px;
    }
}