@import "src/app/styles/mixins.scss";

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    &--unit {
        @include font-style(14px, 120%, 600);

        user-select: none;
        cursor: pointer;
        background-color: rgb(var(--secondary));
        min-width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_active {
            color: rgb(var(--accent));
        }

        &_inactive {
            pointer-events: none;
        }

        @include bp('1280') {
            font-size: 16px;
            min-width: 40px;
            height: 40px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}