<section class="detailed-hero" *ngIf="data">
  <ng-content select="[background]"></ng-content>
  <div class="container">
    <h3 class="h1 detailed-hero--title">{{ title }}</h3>
    <div class="detailed-hero--wrap">
      <div class="detailed-hero--poster">
        <img
          *ngIf="img"
          class="detailed-hero--img"
          [src]="img | imgSrc : posterSizeType : posterSize"
          [alt]="title" />
      </div>
      <div class="detailed-hero--content">
        <ng-content select="[description]"></ng-content>
        <div class="detailed-hero--other">
          <ng-content select="[other]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</section>
