@import "src/app/styles/mixins.scss";

.detailed-page-crew {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 14px;
}

.detailed-page-crew-member {
    display: grid;
    row-gap: 2px;

    &--title {
        cursor: pointer;
        @include bp('1280') {
            &:hover {
                color: rgb(var(--accent));
            }
        }
    }

    &--name {
        font-size: 14px;
    }

    &--roles {
        font-size: 12px;
        opacity: .8;
    }
}