@import "src/app/styles/mixins.scss";

.detailed-hero-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    @include bp('768') {
        gap: 8px;
    }

    &--unit {
        @include font-style(12px, 100%, 900);

        padding: 4px;
        border-radius: 4px;
        border: 1px solid rgb(var(--accent));

        @include bp('768') {
            padding: 6px;
            font-size: 14px;
        }
    }
}