<div class="rating-picker" *ngIf="ratingPostConfig">
  <p class="rating-picker--title">
    {{ ratingValue.value | number : '1.1' }}/10
  </p>
  <input
    type="range"
    [min]="min"
    [step]="step"
    [max]="max"
    [formControl]="ratingValue" />
  <button
    [disabled]="isSubmitting$ | async"
    class="rating-picker--btn button _primary"
    type="button"
    (click)="submitRating()">
    Rate
  </button>
  <p class="rating-picker--note" *ngIf="(isLoggedIn$ | async) === false">
    You need to log in to be able to rate
  </p>
</div>
