<div class="detailed-page-hero-rating">
  <mdb-rating-badge
    class="detailed-page-hero-rating--value"
    [title]="title"
    [value]="value"></mdb-rating-badge>
  <div class="detailed-page-hero-rating--side">
    <button
      class="detailed-page-hero-rating--rate-btn link"
      (click)="toggleDropdown()">
      Rate
    </button>
    <div
      *ngIf="showDropdown"
      class="detailed-page-hero-rating--dropdown detailed-page-hero-rating-dropdown">
      <mdb-rating-picker
        [ratingPostConfig]="ratingPostConfig"
        class="detailed-page-hero-rating-dropdown--picker">
      </mdb-rating-picker>
      <button
        class="detailed-page-hero-rating-dropdown--close link"
        (click)="toggleDropdown()">
        Close
      </button>
    </div>
  </div>
</div>
