@import "src/app/styles/mixins.scss";

.mainpage-section {
    margin-bottom: 20px;
    
    &--title {
        text-transform: uppercase;
        margin-bottom: 12px;
        color: var(--accent);
    }
}