<div class="search">
  <input
    type="text"
    placeholder="Search"
    class="input search--input"
    [formControl]="searchInput" />
  <div *ngIf="showSearch$ | async" class="search--clear" (click)="clear()">
    Clear
  </div>
</div>
<div class="search--result" *ngIf="showSearch$ | async">
  <ng-container *ngIf="searchResults$ | async as searchResults">
    <ng-container *ngIf="searchResults.total; else noResults">
      <ng-container *ngFor="let section of searchResults.response">
        <mdb-search-result-section
          class="search--result-section"
          *ngIf="section.result.length > 0"
          [searchResultSection]="section"></mdb-search-result-section>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noResults>
    <p class="search--no-results container">
      Sorry, no results were found based on your search, try again.
    </p>
  </ng-template>
  <ng-template #preloader>
    <mdb-preloader></mdb-preloader>
  </ng-template>
</div>
