<div class="search">
  <input
    type="text"
    placeholder="Search"
    class="input search--input"
    [formControl]="searchInput" />
  <div *ngIf="showSearch$ | async" class="search--clear" (click)="clear()">
    Clear
  </div>
</div>
<div class="search--result" *ngIf="showSearch$ | async">
  <ng-container *ngIf="searchResults$ | async as searchResults">
    <ng-container *ngIf="searchResults.length; else noResults">
      <ng-container *ngFor="let section of searchSections">
        <ng-container
          *ngIf="
            searchResults | filter : filterFunc(section.type) as sectionResults
          ">
          <mdb-search-result-section
            *ngIf="sectionResults.length"
            class="search--result-section"
            [title]="section.title"
            [results]="sectionResults"></mdb-search-result-section>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noResults>
    <p class="search--no-results container">
      Sorry, no results were found based on your search, try again.
    </p>
  </ng-template>
  <!-- todo: how to show preloader inbetween search request been sent and api repsonded with new data -->
  <ng-template #preloader>
    <mdb-preloader></mdb-preloader>
  </ng-template>
</div>
