<section class="detailed-hero" *ngIf="data">
  <div
    *ngIf="data.background"
    class="detailed-hero--bg"
    [ngStyle]="{
      'background-image':
        'url(' +
        (data.background | imgSrc : backgroundSizeType : backgroundSize) +
        ')'
    }"></div>
  <div class="container">
    <h3 class="h1 detailed-hero--title">{{ data.title }}</h3>
    <div class="detailed-hero--wrap">
      <div *ngIf="data.img as img" class="detailed-hero--poster">
        <img
          class="detailed-hero--img"
          [src]="img | imgSrc : posterSizeType : posterSize"
          [alt]="data.title" />
      </div>
      <div class="detailed-hero--content">
        <div class="detailed-hero--description">
          <p class="detailed-hero--subtitle h4">Overview:</p>
          <p>{{ data.description }}</p>
        </div>
        <div class="detailed-hero--other">
          <mdb-rating-badge
            *ngIf="data.rating as rating"
            class="detailed-hero--rating"
            [title]="'Rating:'"
            [value]="rating"></mdb-rating-badge>
          <div *ngIf="data.date" class="detailed-hero--date">
            <p class="detailed-hero--subtitle h4">
              {{
                data.mediaType === personType
                  ? 'Date of birth:'
                  : 'Release date:'
              }}
            </p>
            <span>{{ data.date | date : 'dd MMMM yyyy' }}</span>
          </div>
          <div class="detailed-hero-genres" *ngIf="data.genres">
            <p class="detailed-hero--subtitle h4">Genres:</p>
            <ul class="detailed-hero-genres--list">
              <li
                *ngFor="let genre of data.genres"
                class="detailed-hero-genres--unit">
                {{ genre.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
