@import "src/app/styles/mixins.scss";

.header-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include bp('768') {
        gap: 8px;
        flex-direction: row;
        align-items: center;
    }

    &--link {
        text-decoration: underline;
        
        &_active {
            color: rgb(var(--accent));
        }

        @include bp('1280') {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &--user {
        font-weight: 600;
    }

    &--logout {
        font-size: 12px;
        color: rgb(var(--accent));
        text-decoration: underline;

        @include bp('1280') {
            &:hover {
                text-decoration: none;
            }
        }
    }
}