@import "src/app/styles/mixins.scss";

.ui-card {
    position: relative;
    cursor: pointer;

    &--img-wrap {
        aspect-ratio: 2/3;
        overflow: hidden;
        margin-bottom: 8px;
        background-color: rgb(var(--secondary));
    }

    &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform var(--transitionTime);
    }

    &--title {
        @include font-style(12px, 1.2, 700);

        text-transform: uppercase;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--subtitle {
        margin-top: 2px;
        font-size: 12px;
        opacity: .8;
    }

    &--rating-badge {
        @include font-style(14px, 1, 700);
        
        position: absolute;
        top:0;
        right: 0;
        z-index: 1;
    }

    @include bp("1280") {
        &:hover {
            .ui-card {
                &--img {
                    transform: scale(1.1);
                }
                &--title {
                    color: rgb(var(--accent));
                }
            }
        }
    }
}